<h1 id="page_title">Your spaces</h1>

<% if @user_space %>
<% @user_space.each do |space| %>


     <section id="spaces_list">

      <p><%= space.name %></p><br>
      <p><%= space.description %></p><br>
      <p><%= space.price %></p><br>
      <p><%= space.street %></p><br>
      <p><%= space.city %></p><br>
      <form action=/update_space>
        <input type='hidden' name= 'space_id' value= '<%= space.id %>'>
        <input type='submit' value= 'Edit'>
      </form>
      <h3>Change Availability </h3>
      <form action=/update_availability method='post'>
        <input type='hidden' name= 'space_id' value= '<%= space.id %>'>
        <input type='radio' name='availability' value='available'>Available<br>
        <input type='radio' name='availability' value='unavailable'>Unavailable<br>
        <input type='date' name='start_date'>
        <input type='date' name='end_date'>
      </form>
     </section>
  <% end %>

<% else %>
Add a place!
<% end %>
