<h1 id="page_title">Your bookings</h1>

  <% @current_user.bookings.each do |bookings| %>
    <section class="container">
      <h2><%= bookings.space.name %></h2>
      <% if bookings.calculate_stay.to_i > 1 %>
        <h3>Stay: <%= bookings.calculate_stay.to_i%> days.</h3>
      <% else %>
        <h3>Stay: <%= bookings.calculate_stay.to_i%> day.</h3>
      <% end %>
      <h3>Price <%= (bookings.calculate_stay.to_i) * (bookings.space.price.to_i)%></h3>
      <ul>
        <h3>Start Date: <%= bookings.start_date %> </h3>
        <h3>End Date: <%= bookings.end_date %> </h3>
        <h3>Message: <%= bookings.message %> </h3>
        <h3>Number of Guests: <%= bookings.guest_number %> </h3>
        <h3>Confirmation status: <%= bookings.confirmed %> </h3>
      </ul>

      <% if bookings.confirmed == 'confirmed'%>
        <h2>Request Confirmed</h2>
      <% elsif bookings.confirmed == 'denied' %>
        <h2>Request Denied</h2>

      <form action='/delete_request' method='post'>
        <input type='hidden'name='booking_id' value='<%= bookings.id %>'>
        <input type='submit' value='Delete request'>
      </form>
    <% end %>
  </section>
  <% end %>
